body {
    /* Variables for colors */
    --mainbg: hsla(0, 33%, 96%, 1);
    --accentcolor: rgba(229, 124, 35, 1);
    --headerbg: #025464;
    --headcolor1: #F37335;
    --headcolor2: #E8AA42;
    --imgaccent: #faf3ca;
    --darkbg: #043039;
    --border: #577e85;

    background-color:var(--mainbg); width:80vw; margin:5vh auto; border-radius:10px; overflow-x: hidden;
}

#pictures { display:flex; justify-content: center; gap:1.5vw; background-color: var(--headerbg); width:60vw; padding:1em; border-radius:10px; }
#pictures img:first-child, #pictures img:last-child { border:3px solid var(--mainbg); }
#pictures img { transition:all .5s; }
#pictures img:hover { filter: grayscale(100%); -webkit-filter: grayscale(100%); }
header { display:flex; align-items: center; justify-content: space-between; padding: 0 0 0 5vw; background-color:var(--headerbg); border-radius:10px 10px 0 0; }
h1 { font-family:Righteous; font-size:2vw; text-transform:uppercase; color:var(--mainbg); flex-grow: 1; }
nav { color:var(--accentcolor); flex-grow: 2; height:110px; }
nav a { font-family:Nunito; text-decoration:none; color:var(--mainbg); margin:0 1vw; transition:all .5s; }
nav ul { list-style: none; padding:0; height:auto; }
nav ul li { margin:1px; border:1px solid var(--border); width:145px; line-height:35px; text-align:center; color:white; position:relative; float:left; background-color:var(--headerbg); }
nav ul li:hover { background-color: var(--darkbg); }
nav ul li:hover > a { color:var(--headcolor1); }
nav ul li > ul li { margin:3px 2px -2px -1px; }
nav ul li > ul li > ul li { margin:-1px 0 0 3px; }
nav ul ul { display:none; }
nav ul li:hover > ul { display:block; }
nav ul ul ul { top:0; position:absolute; margin-left:145px; }
nav a:hover, nav a:focus, nav a:active { color:var(--headcolor1); }
section { width:60vw; margin:auto; font-family:Nunito; }
section p::first-letter { font-size:1.3em; font-weight:700; padding-left:1vw; color:var(--accentcolor); }
footer { background-color: var(--headerbg); font-family:Nunito; color:var(--mainbg); border-radius:0 0 10px 10px; }
footer h3 { text-align:center; font-family:Righteous; text-transform:uppercase; padding:1em; }
footer p { font-style:italic; text-align:center; padding-bottom:1em; }
article h2 span { background: -webkit-linear-gradient(0deg, var(--headcolor1) 0%, var(--headcolor2) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
article:nth-of-type(2) h2 span { background: -webkit-linear-gradient(0deg, var(--headcolor2) 0%, var(--headcolor1) 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }

video { object-fit: cover; width: 100vw; height: 100vh; position: fixed; top: 0; left: 0; }
.viewport-header { position: relative;  }
.full-width { width: 100vw; position: relative; left: 50%; right: 50%; margin-left: -50vw; margin-right: -50vw; }
figure img { max-width:100%; }
#dinner { width:60vw; margin:auto; }

/* Animation */
@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem) scale(.8);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes sheen {
    100% {
        transform: rotateZ(60deg) translate(1em, -9em);
    }
}
@keyframes star {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(-0.75em);
    }

    20% {
        opacity: 1;
    }

    89% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}
@keyframes wars {
    0% {
        opacity: 0;
        transform: scale(1.5) translateY(0.5em);
    }

    20% {
        opacity: 1;
    }

    90% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: translateZ(-1000em);
    }
}
@keyframes spin-letters {

    0%,
    10% {
        opacity: 0;
        transform: rotateY(90deg);
    }

    30% {
        opacity: 1;
    }

    70%,
    86% {
        transform: rotateY(0);
        opacity: 1;
    }

    95%,
    100% {
        opacity: 0;
    }
}
.animate-pop-in { animation: pop-in .6s cubic-bezier(0, 0.9, 0.3, 1.2) forwards; opacity: 0; }
.logo { animation-delay:.6s; }
.header-title { animation-delay:.8s; }
button { background: var(--headcolor1); color: #fff; font-size: 14px; border-radius: 0.5em; padding: 0 1em; position: relative; overflow: hidden; line-height: 32px; border:none; height: 3em; line-height:2em; transition:all 0.5s cubic-bezier(0.67, -0.51, 0.42, 1.43); }
button:hover { cursor:pointer; }
button::after { content: ''; position: absolute; top: -50%; right: -50%; bottom: -50%; left: -50%; background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0)); transform: rotateZ(60deg) translate(-5em, 7.5em); }
button:hover::after, button:focus::after { animation: sheen 1s forwards; }
button a { color:white; text-decoration: none; }
button a:hover, button a:active, button a:visited { color:white; }
.star { animation: star 10s ease-out infinite; }
.wars { animation: wars 10s ease-out infinite; }
.starwars-demo { perspective: 800px; transform-style: preserve3d; height:17em; left:50%; position:absolute; top:53%; transform:translate(-50%, -50%); width:34em; }
.byline span { animation: spin-letters 10s linear infinite; display:inline-block; }
.byline { animation: move-byline 10s linear infinite; font-family:"Bruno Ace SC"; color:white; font-size:1.75em; left:-4em; letter-spacing:0.4em; text-align:center; text-transform:uppercase; top:29%; }
.star, .wars, .byline { position:absolute; }
.star { top:-0.75em; }
.wars { bottom:-0.5em; }